.skills > a,
#about a {
  color: white;
  text-decoration: underline;
}

#portfolio .img-responsive {
  background: #eaeaea;
  min-height: 120px;
}

.devpost {
  overflow: visible !important;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content-custom {
  position: absolute;
  width: 100%;
  height: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
