html, body {
  margin: 0;
  border: 0;
  font-size: 10pt;
  background-color: #ffffff;
  color: #000000;
}

article {
    border-radius: 5px;
    border: 2px solid purple;
    background-color: pink;
    margin: 10px;
    padding: 10px;
}

ol {
    list-style-type: none;
    padding-left: 0px;
}

ul {
    display: none;
}
